@model WebAppTestMovieEF.Models.TSpinoff

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TSpinoff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Spinoff" class="control-label"></label>
                <input asp-for="Spinoff" class="form-control" />
                <span asp-validation-for="Spinoff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCanonical" class="control-label"></label>
                <select asp-for="IsCanonical" class="form-control">
                    <option value="True">True</option>
                    <option value="False" selected>False</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdMovie" class="control-label"></label>
                <select asp-for="IdMovie" class ="form-control" asp-items="ViewBag.IdMovie"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
